.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.header section {
    display: flex;
    align-items: center;
}